---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Document</title>
	</head>
	<body>
		<h1>Accueil</h1>
		<h2>Bienvenue sur ??? notre agence immobilière</h2>
	</body>
</html>
