---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acceuil">
	<h1 class="text-2xl">Accueil</h1>
	<h2>Bienvenue sur ??? notre agence immobilière</h2>
	<h1></h1>
	<p>Liste de nos offres immobilières.</p>
</Layout>
