---
import "../styles/global.css";
import Header from "../components/Header.astro";

const title = Astro.props.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>

    <body>
        <Header />
        <main>
            <p>
                L’AGENCE 8 se distingue par son implantation dans un Paris
                historique mais avant tout résidentiel. Notre connaissance de ce
                biotope participe de notre adaptation à chaque demande et de
                notre approche personnalisée. C’est la compréhension d’un Paris
                qui bouge et d’une clientèle exigeante qui nous permet
                d’apporter un conseil et un suivi sur mesure avec une synergie
                entre écoute, empathie et service de qualité.
            </p>
            <button class="">Voir toutes nos annonces</button>
            <button class="">Comparer les prix</button>
            <button class="">Ajouter aux favoris</button>
            <slot />
        </main>
        <footer></footer>
    </body>
</html>
